body{
  background: #f6f9fc;
}

.sidenav {
  height: 100%;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.material-icons{
  font-size:10px;color:red

}
.navbar-brand {
  margin-bottom: 10px;
}

.navbar-brand a {
  text-decoration: none;
}

.logo {
  width: 90px; 
  height: auto;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-item {
  margin: 25px 0;
  width: 100%;
}

.nav-link {
  color:#50799f;
  text-decoration: none;
  font-size: 15px;
  padding: 5px 5px;
  display: block;
  width: 100%;
}

.nav-link:hover {
  background-color: #575757;
  border-radius: 10px;
}
